<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-md">
      <a class="navbar-brand text-end" href="/"><i class="fa-light fa-rectangle-list" style="color: #486056;"><strong>Watch List</strong></i></a>

  </div>
</nav>
<div class="show-body">
  <div class="show-container row justify-content-center p-24">
    <h1 class="my-list col-12 m-4 text-center"><%= @list.name.capitalize %></h1>
    <div class="border rounded col-8 m-8">
      <% @list.bookmarks.each do |bookmark|%>
        <div>
          <p class="m-2">Title: <%= bookmark.movie.title %></p>
          <p class="m-2">Comment: <%= bookmark.comment %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center show-btns">
    <%= link_to lists_path, class: "btn btn-primary m-2" do %>
    <i class="fa-solid fa-rotate-left"></i> Back to lists
    <% end %>

    <%= link_to new_list_bookmark_path(@list), class: "btn btn-warning m-2" do %>
    <i class="fa-solid fa-plus"></i> New bookmark
    <% end %>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
