<div class="container">
  <h1 class="m-4 text-center"><%= @list.name.capitalize %></h1>
  <div class="border rounded">
    <% @list.bookmarks.each do |bookmark|%>
      <div>
        <p class="m-2">Title: <%= bookmark.movie.title %></p>
        <p class="m-2">Comment: <%= bookmark.comment %></p>
      </div>

    <% end %>
  </div>
  <%= link_to lists_path, class: "btn btn-primary m-2" do %>
  <i class="fa-solid fa-rotate-left"></i> Back to lists
  <% end %>


  <%= link_to new_list_bookmark_path(@list), class: "btn btn-warning m-2" do %>
   <i class="fa-solid fa-plus"></i> New bookmark
   <% end %>
</div>
